/* poppins font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Princess+Sofia&display=swap');

.s-mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.s-leftcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #0377a8cc;
}

.s-image {
  width: 50%;
}

.s-flexflow-text {
  font-size: 5rem;
  line-height: 1;
  color: #ffffff;
  font-family: 'Princess Sofia', cursive;
}

.s-rightcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f3f4f6;
}

.s-greenmartlogo {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

.s-boldText {
  font-weight: 800;
  font-family: 'poppins',sans-serif;;
}

.s-loginCard {
  padding: 2rem;
  border-radius: 0.75rem;
  width: 50.666667%;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.s-welcomeText {
  display: flex;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.s-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.s-inputField {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  border-radius: 9999px;
  width: 100%;
  background-color: #e5e7eb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.s-inputF {
  width: 100%;
  background-color: #e5e7eb;
  border: 0px;
}

.s-button {
  border-radius: 0.5rem;
  width: 8rem;
  height: 2rem;
  color: #ffffff;
  /* transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 150ms;
  transition-timing-function: linear; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #469cb7;
  border: 0px;
  
}

  .s-button:hover {
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1),
      0 4px 7px -1px rgba(0, 0, 0, 0.06);
  }
