
.reg-product-bodycontainer {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
  border-radius: 0.625em;
  width: 100%;
  height: fit-content;
}

.product-filter-container {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 0.9375em 1.25em;
  border-radius: 0.625em;
  gap: 0.625em;
  width: 100%;
  height: fit-content;
}

.product-content-top {
  display: flex;
  height: 80px;
  gap: 50px;
  margin-top: 10px;
  border-bottom: 3px solid #D9D9D9;
}

.p-BtnSection {
  display: flex;
  gap: 15px;
}

.product-content-middle {
  padding: 0.9375em;
  height: fit-content;
}


.create-product-category-section {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
  border-radius: 0.625em;
  gap: 0.625em;
  margin-top: 2em;
  width: 100%;
  height: fit-content;
}

.category-filter-container {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 0.9375em 1.25em;
  border-radius: 0.625em;
  gap: 0.625em;
  width: 100%;
  height: fit-content;
}

.create-product-category-top {
  display: flex;
  height: 80px;
  gap: 50px;
  margin-top: 10px;
  border-bottom: 3px solid #D9D9D9;
}

.create-product-category-middle {
  margin-top: 20px;
}


.adjust-product-price-filter-container {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 0.9375em 1.25em;
  border-radius: 0.625em;
  gap: 0.625em;
  width: 100%;
  height: fit-content;
}


.adjust-product-price-section {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);

  border-radius: 0.625em;
  gap: 0.625em;
  margin-top: 2em;
  width: 100%;
  height: fit-content;
}

.adjust-product-price-top {
  display: flex;
  height: 80px;
  gap: 50px;
  margin-top: 10px;
  border-bottom: 3px solid #D9D9D9;
}

.adjust-product-price-middle {
  display: flex;
  height: fit-content;
  gap: 50px;
  margin-top: 15px;
}






