@media print {
    body * {
        visibility: hidden;
    }

    .StockTranIn-paper-frame * {
        visibility: visible;
    }

    .StockTranIn-paper-frame {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        background-color: #fff;
        font-size: 12px;
    }
}

.StockTranIn-paper-frame {
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    padding:  15px 25px 15px 25px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-family: Poppins, sans-serif;
}

.StockTranIn-paper-sys-logo {
    width: 90px;
    height: auto;
    margin: 0 auto;
}

.StockTranIn-paper-header {
    display: block;
    text-align: center;
}

.StockTranIn-paper-title {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;

}

.StockTranIn-top-details {
    margin: 10px 20px 0 20px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.StockTranIn-bodyContent-table {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    border-collapse:collapse ;
}

.StockTranIn-bodyContent-table th {
    text-align: center;
    background-color: #e8e8e8;
    padding: 6px;
    font-size: 12px;
}

.StockTranIn-bodyContent-table td {
    font-size: 12px;
    padding: 40px 0;
}

.StockTranIn-bottomContent{
    margin-top: 20px;
}

.StockTranIn-paper-footer{
    font-size: 10px;
    text-align: center;
}