@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Princess+Sofia&display=swap');

.sweet-loading-Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: transparent;
}

.SpinnerSystemTextMain {
  font-size: 4rem;
  line-height: 0;
  color: #0377A8;
  font-family: 'Princess Sofia', cursive;
  margin-bottom: 70px;
}