.dropdown-style {
    /* border-radius: 0.625em;
    border: 1px solid #8D9093;
    font-size: 0.813em;
    padding-left: 0.625em;
    height: 2.25em; */
    padding: 4px 8px;
    border-radius: 0.625em;
    border: 1px solid #8D9093;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.6em;
    margin-bottom: 0.313em;
    margin-top: 0.313em;
}

.chart-container {
    margin-bottom: 10px;
    display: flex;
}

.chart-container select {
    margin-right: 15px;
}

.chart-container select,
#chart {
    font-family: 'Poppins';
}

#chart {
    text-align: center;
}

.total-sales {
    text-align: center;
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 1.2em;
}

.total-sales span {
    font-weight: bold;
}

.total-sales .total-sales-amount {
    color: #0377A8;
}

.total-sales .total-sales-value {
    color: #000;
}