.dropdown {
    border-radius: 0.625em;
    border: 1px solid #8D9093;
    height: 2.25em;
    width: 15.625em;
    margin-top: 0.313em;
    margin-bottom: 0.313em;
    font-size: 0.813em;
    padding-left: 0.625em;
  }
  
  .dropdown.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  