.container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.button {
  padding: 10px 20px;
  border: 1px solid #4d90fd;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #5eabef;
  color: #ffffff;
}

.icon {
  margin-right: 5px;
  font-family: 'FontAwesome';
}

.inputFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}