.linkDiv{
    padding: 5px;
}
.link{
    padding-right: 30px;
    text-decoration: none;
    color: #000000;
}
.link:hover{
    text-decoration: underline;
}
.link:active{
    color: #0377A8;
} 
.ButtonRow{
    display:flex;
    /* justify-content: space-between; */
    justify-items: left;
    justify-content: space-evenly;
}
.account {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
    /* height: 19.375em; */
    border-radius: 0.625em;
    padding: 0.9375em 1.25em;
}
.ContainerTop {
    display: flex;
    gap: 2.1875em;
    margin-bottom: 0.7em;
}
.line{
    width: 100%;
    background: #D9D9D9;
    height: 0.125em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}
.Button{
    display: flex;
    gap: 2.1875em;
    margin-bottom: 0.7em;
}
.tableContainer{

}