.stockBalanceTabs {
    height: 100%;
    
}

.balanceStatusTab {
    display: flex;
    gap: 15px;
    padding: 20px 0;
}

.balanceStatusTab .react-tabs__tab {
    padding: 3px 20px;
    cursor: pointer;
    background-color: #fefefe;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    color: initial;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.balanceStatusTab .react-tabs__tab--selected {
    color: rgb(35, 163, 218);
    border-bottom: 2px solid rgb(35, 163, 218);
}

.balanceStatusTab .react-tabs__tab:hover {
    color: rgb(35, 163, 218);
}