.linkActions-account-users {
    display: flex;
    gap: 30px;
    margin-bottom: 0.625em;
}

.linkActions-account-users div a {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.linkActions-account-users div a:hover {
    color: rgba(19, 86, 112, 0.8);
}

.linkActions-account-users div.clicked a {
    color: #0377A8;
    text-decoration: underline;
    font-weight: bold;
}



.account-user-section {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
    height: fit-content;
    border-radius: 0.625em;

}

.account-users-top {
    display: flex;
    gap: 3em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    background-color: white;
}

.account-user-filter {
    padding: 0.9375em 1.25em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.line {
    width: 100%;
    background: #D9D9D9;
    height: 0.125em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}


.Button-Section {
    display: flex;
    gap: 1.5em;
    margin-bottom: 0.7em;
}

.account-users-middle {
    margin-top: 15px;
    padding: 0.9375em 1.25em;
}