.datepicker-input {
  border-radius: 0.625em;
  border: 1px solid #8D9093;
  height: 2.6em;
  width: 15.625em;
  margin-top: 0.313em;
  margin-bottom: 0.313em;
  font-size: 0.98em;
  padding: 0 0.625em 0 0.625em;
}

