.sales-top-content {
    display: flex;
    ;
    justify-content: space-around;
    margin: 0 auto;
}

.salesBody {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);

}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 66, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.billContainer {
    overflow: auto;
    width: 100%;
    height: 70vh;
    margin: 20px 0 20px 0;
    position: relative;
}

.billContainerTable {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;


}

.billContainerTable th {
    background-color: #E9E9E9;
    position: sticky;
    top: 0;
    z-index: 1;

}

.billContainerTable td {
    padding: 2px;
}

.paymentContainerWrapper {
    display: flex;
    justify-content: flex-end;
}

.paymentContainer {
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
}

.paymentContainer table td {
    padding-right: 10px;
}


.payment-method-top {
    text-align: center;
}

.payment-method-bottom {
    display: flex;
    gap: 10px;
}

.discountFieldsContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardLogos {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

input:focus,
input:active {
    background-color: white;
}

.radio-container{
    margin-right: 10px;
}
.payment-method-top input{
    margin-right: 5px;
}