.s-mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.s-leftcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(3, 119, 168, 0.8);
  background-size: cover;
}

.s-image {
  width: 50%;
}

.s-flexflow-text {
  font-size: 5rem;
  color: #ffffff;
  margin-top: -50px;
  font-family: 'Send Flowers', cursive;
}

.s-companyName {
  font-size: 14px;
  margin-top: 100px;
  color: #ffffff;
}

.s-rightcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #fafafa;
}

.s-greenmartlogo {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

.s-greenmartlogo img{
  width: 50%;
}

.s-loginCard {
  padding: 2em;
  border-radius: 3em;
  width: 60%;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.s-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 100%;
}

.s-WelcomeText {
  display: flex;
  font-size: 20px;
  align-items: left;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.s-button {
  border-radius: 0.5rem;
  width: 8rem;
  height: 2rem;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #469cb7;
  border: 0px;
}

.s-button:hover {
  box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1), 0 4px 7px -1px rgba(0, 0, 0, 0.06);
}


.login-error {
  display: flex;
  font-size: 0.9em;
  color:red;
  align-items: left;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .s-mainContainer {
    flex-direction: column;
    align-items: center;
    width: 100dvw;
  }

  .s-flexflow-text{
    font-size: 2rem;
    color: #ffffff;
    margin-top: 0;
  }

  .s-companyName{
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .s-leftcontainer {
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    margin-top: 30px;
  }

  .s-image {
    width: 0%;
  }

  .s-rightcontainer {
    width: 100%;
  }

  .s-loginCard {
    width: 80%;
  }

  .s-button {
    width: 100%;
  }
}
