.viewbill-top-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.view-bill-top {
    background-color: white;
    width: 100%;
    height: 180px;
    padding: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
    font-size: 1em;
    margin-bottom: 20px;

}

.view-bill-top-cont {
    display: flex;
    gap: 300px;

}

.view-bill-top-cont span {
    color: black;
    font-weight: 500;
}

.inputFlex {
    display: flex;
}

hr {
    margin: 10px 0 10px 0;
}

.TotAmountBar-viewbill h4 {
    float: left;
    margin-top: 10px;
}

.btnSection-viewBill {
    float: right;
    gap: 30px;
    display: flex;
}


.billed-item-container {
    overflow: auto;
    width: 100%;
    height: 60vh;
    align-items: center;
    margin-bottom: 20px;
}

.billed-item-table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

.billed-item-table thead {
    background-color: #E9E9E9;
}

.payment-container-viewbill {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
}

.discount-fields-container-viewbill {
    display: flex;
    align-items: center;
    gap: 4px;
}